body{
  background-color: bisque;
}


.to-do-list {
  font-family: Arial, sans-serif;
  text-align: center;
  color: darksalmon;
  margin-top: 100px;
}

h1 {
  font-size: 4rem;
}

button {
  font-size: 1.7rem;
  font-weight: bold;
  padding: 10px 20px;
  color: white;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.5s ease;
}

.add-button {
  background-color: hsl(125, 47%, 25%);
  border: 2px solid;
}

.add-button:hover {
  background-color: hsl(125, 47%, 44%);
}

.delete-button {
  background-color: hsl(125, 47%, 54%);
}

.delete-button:hover {
  background-color: hsl(353, 84%, 50%);
}

move-button {
  background-color: hsl(195, 55%, 32%);
}


.move-button:hover {
  background-color: hsl(195, 74%, 45%);
}

input[type="text"]{
  font-size: 1.6rem;
  padding: 10px;
  border: 2px solid;
  border-radius: 50px;
}
ol{
  padding: 0;
}
li{
  font-size: 2rem;
  font-weight: bold;
  padding: 15px;
  background-color: hsl(0, 0%, 97%);
  color: black;
  margin-bottom: 10px;
  border: 3px solid hsla(0, 0%, 85%, 0.75);
  border-radius: 50px;
  display: flex;
  align-items: center;
}

.text{
  flex: 1;
}

.delete-button, .move-button{
  padding: 8px 12px;
  font-size: 1.4rem;
  margin-left: 50px;
}